<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Chart Details</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Music Database</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'home' %}">Releases</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'artists' %}">Artists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'genres' %}">Genres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'charts' %}">Charts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'countries' %}">Countries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'labels' %}">Labels</a>
                </li>
            </ul>
        </div>

        {% if user.is_authenticated %}
        <a class="pull-right" href="{% url 'profile' %}"> {{ request.user.username }} </a>
        <a class="btn btn-dark pull-right" href="{% url 'logout' %}" role="button">Sign out</a>
        {% else %}
        <a class="btn btn-dark pull-right" href="{% url 'login' %}" role="button">Sign in</a>
        {% endif %}

    </div>
</nav>
<div class="py-2 px-2">
    <h3>{{ chart }}</h3>

    {% if user is not None %}
    <a class="btn btn-dark" href="{% url 'add_chart_entry' chart.pk %}" role="button">Add Entry</a>
    {% endif %}

    <div class="py-2 px-2">
        <form action="{% url 'chart_details' chart.pk %}" method="get">
            <label for="nameInput">Name:</label>
            <input id="nameInput" name="release_name" type="text" placeholder="release name">

            <label for="date_fromInput">Date from:</label>
            <input id="date_fromInput" name="date_from" type="text" placeholder="yyyy-mm-dd">

            <label for="date_toInput">Date to:</label>
            <input id="date_toInput" name="date_to" type="text" placeholder="yyyy-mm-dd">

            <label for="pos_fromInput">Position from:</label>
            <input id="pos_fromInput" name="pos_from" type="text" placeholder="position from">

            <label for="pos_toInput">Position to:</label>
            <input id="pos_toInput" name="pos_to" type="text" placeholder="position to">

            <br>
            <br>
            <button type="submit" class="btn btn-dark">Search</button>
            <a type="button" class="btn btn-dark" href="{% url 'chart_details' chart.pk %}">Reset</a>
        </form>
    </div>

    <hr/>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Release</th>
            <th scope="col">Position</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in object_list %}
        <tr>
            <td><a href="{% url 'release_details' entry.get_release_object.pk %}">
                {{ entry.get_release_object.name }}</a></td>
            <td>{{ entry.position }}</td>
            <td>{{ entry.date }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

<div class="pagination justify-content-center">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1&release_name={{request.GET.release_name}}&date_from={{request.GET.date_from}}&date_to={{request.GET.date_to}}&pos_from={{request.GET.pos_from}}&pos_to={{request.GET.pos_to}}">
                &laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}&release_name={{request.GET.release_name}}&date_from={{request.GET.date_from}}&date_to={{request.GET.date_to}}&pos_from={{request.GET.pos_from}}&pos_to={{request.GET.pos_to}}">
                previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&release_name={{request.GET.release_name}}&date_from={{request.GET.date_from}}&date_to={{request.GET.date_to}}&pos_from={{request.GET.pos_from}}&pos_to={{request.GET.pos_to}}">
                next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&release_name={{request.GET.release_name}}&date_from={{request.GET.date_from}}&date_to={{request.GET.date_to}}&pos_from={{request.GET.pos_from}}&pos_to={{request.GET.pos_to}}">
                last &raquo;</a>
        {% endif %}
    </span>
</div>

</body>
</html>